section.filters{
  background-color: #fff;
  height: 70px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

section.filters button{
  font-size: 18px;
  background-color: #ff5a5a;
  color: #fff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin: 11px 30px;
  float: right;
}

section.filters button:hover {
  opacity: .9;
}

div.locations h3, div.amenities h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 20px 0px 0px 30px;
  text-align: left;
}
div.locations h4, div.amenities h4  {
  font-weight: 400;
  font-size: 14px;
  margin: 0px 0px 0px 30px;
  text-align: left;
}
div.locations, div.amenities  {
  height: 100%;
  width: 25%;
  float: left;
}
div.locations {
  border-right: 1px solid #ddd;
}
