section.filters{
  background-color: #fff;
  height: 70px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

section.filters button{
  font-size: 18px;
  background-color: #ff5a5a;
  color: #fff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin: 11px 30px;
  float: right;
  cursor: pointer;
}

section.filters button:hover {
  opacity: .9;
}

div.locations h3, div.amenities h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 20px 0px 0px 30px;
  text-align: left;
}
div.locations h4, div.amenities h4  {
  font-weight: 400;
  font-size: 14px;
  margin: 0px 0px 0px 30px;
  text-align: left;
}
div.locations, div.amenities  {
  height: 100%;
  width: 25%;
  float: left;
}
div.locations {
  border-right: 1px solid #ddd;
}
div.locations .popover, div.amenities .popover{
  display: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}
div.locations .popover{
  padding: 20px 30px 30px 15px;
}
div.amenities .popover{
  padding: 30px;
}
div.locations h2{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

ul{
  list-style: none;
  padding-left: 15px;
  cursor: pointer;
}

div.locations:hover .popover,
div.amenities:hover > .popover {
  display: block;
  z-index: 1;
}
